*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
.footer-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    padding: 1rem 0;
    background-color: rgb(32,30,30);
    
}
.footer-section h2{
    margin-bottom: 1rem;
    position: relative;

}
.footer-section h2::after{
    content: '';
    height: .2rem;
    width: 4rem;
    background: #e65b00;
    position: absolute;
    top: 2.5rem;
    left: 0;

}
.footer-section p{
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    margin-bottom: 0.6rem;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.footer-section p:hover{
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transform: translateX(4px);
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
}
.footer-section a:hover{
    color: #f46d13;
}
.footer-item{
    margin: 1rem;
}
.footer-item ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.social ul li{
   font-size: 1.2rem;
   cursor: pointer;
   transition: all .2s linear;
   -webkit-transition: all .2s linear;
   -moz-transition: all .2s linear;
   -ms-transition: all .2s linear;
   -o-transition: all .2s linear;
}
.footer-item li{
    margin-right: 1rem;
}
.social ul li:hover{
    color: #e65b00;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

@media screen and (max-width: 320px){
    .footer-section{
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 2rem;
    }
}